In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('covid-stringency-index.csv')

In [ ]:
SI_UK_new = df[df['Entity'] == 'United Kingdom']

In [ ]:
SI_UK_new.head()

                Entity Code         Day  stringency_index
134489  United Kingdom  GBR  2020-01-21              5.56
134490  United Kingdom  GBR  2020-01-22              5.56
134491  United Kingdom  GBR  2020-01-23              5.56
134492  United Kingdom  GBR  2020-01-24              5.56
134493  United Kingdom  GBR  2020-01-25              5.56

In [ ]:
dates_lst = ['2015-01-01', '2015-02-01', '2015-03-01', '2015-04-01', '2015-05-01', '2015-06-01', 
            '2015-07-01', '2015-08-01', '2015-09-01', '2015-10-01', '2015-11-01', '2015-12-01',
            '2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01', '2016-05-01', '2016-06-01', 
            '2016-07-01', '2016-08-01', '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01',
            '2017-01-01', '2017-02-01', '2017-03-01', '2017-04-01', '2017-05-01', '2017-06-01', 
            '2017-07-01', '2017-08-01', '2017-09-01', '2017-10-01', '2017-11-01', '2017-12-01',
            '2018-01-01', '2018-02-01', '2018-03-01', '2018-04-01', '2018-05-01', '2018-06-01', 
            '2018-07-01', '2018-08-01', '2018-09-01', '2018-10-01', '2018-11-01', '2018-12-01',
            '2019-01-01', '2019-02-01', '2019-03-01', '2019-04-01', '2019-05-01', '2019-06-01', 
            '2019-07-01', '2019-08-01', '2019-09-01', '2019-10-01', '2019-11-01', '2019-12-01']
entity_lst = ['United Kingdom'] * len(dates_lst)
code_lst = ['GBR'] * len(dates_lst)
SI_lst = [0] * len(dates_lst)
d = {'Entity': entity_lst, 'Code': code_lst, 'Day': dates_lst, 'stringency_index': SI_lst}
SI_UK_old = pd.DataFrame(data=d)
SI_UK_old

            Entity Code         Day  stringency_index
0   United Kingdom  GBR  2015-01-01                 0
1   United Kingdom  GBR  2015-02-01                 0
2   United Kingdom  GBR  2015-03-01                 0
3   United Kingdom  GBR  2015-04-01                 0
4   United Kingdom  GBR  2015-05-01                 0
5   United Kingdom  GBR  2015-06-01                 0
6   United Kingdom  GBR  2015-07-01                 0
7   United Kingdom  GBR  2015-08-01                 0
8   United Kingdom  GBR  2015-09-01                 0
9   United Kingdom  GBR  2015-10-01                 0
10  United Kingdom  GBR  2015-11-01                 0
11  United Kingdom  GBR  2015-12-01                 0
12  United Kingdom  GBR  2016-01-01                 0
13  United Kingdom  GBR  2016-02-01                 0
14  United Kingdom  GBR  2016-03-01                 0
15  United Kingdom  GBR  2016-04-01                 0
16  United Kingdom  GBR  2016-05-01                 0
17  United Kingdom  GBR  2016-06-01                 0
18  United Kingdom  GBR  2016-07-01                 0
19  United Kingdom  GBR  2016-08-01                 0
20  United Kingdom  GBR  2016-09-01                 0
21  United Kingdom  GBR  2016-10-01                 0
22  United Kingdom  GBR  2016-11-01                 0
23  United Kingdom  GBR  2016-12-01                 0
24  United Kingdom  GBR  2017-01-01                 0
25  United Kingdom  GBR  2017-02-01                 0
26  United Kingdom  GBR  2017-03-01                 0
27  United Kingdom  GBR  2017-04-01                 0
28  United Kingdom  GBR  2017-05-01                 0
29  United Kingdom  GBR  2017-06-01                 0
30  United Kingdom  GBR  2017-07-01                 0
31  United Kingdom  GBR  2017-08-01                 0
32  United Kingdom  GBR  2017-09-01                 0
33  United Kingdom  GBR  2017-10-01                 0
34  United Kingdom  GBR  2017-11-01                 0
35  United Kingdom  GBR  2017-12-01                 0
36  United Kingdom  GBR  2018-01-01                 0
37  United Kingdom  GBR  2018-02-01                 0
38  United Kingdom  GBR  2018-03-01                 0
39  United Kingdom  GBR  2018-04-01                 0
40  United Kingdom  GBR  2018-05-01                 0
41  United Kingdom  GBR  2018-06-01                 0
42  United Kingdom  GBR  2018-07-01                 0
43  United Kingdom  GBR  2018-08-01                 0
44  United Kingdom  GBR  2018-09-01                 0
45  United Kingdom  GBR  2018-10-01                 0
46  United Kingdom  GBR  2018-11-01                 0
47  United Kingdom  GBR  2018-12-01                 0
48  United Kingdom  GBR  2019-01-01                 0
49  United Kingdom  GBR  2019-02-01                 0
50  United Kingdom  GBR  2019-03-01                 0
51  United Kingdom  GBR  2019-04-01                 0
52  United Kingdom  GBR  2019-05-01                 0
53  United Kingdom  GBR  2019-06-01                 0
54  United Kingdom  GBR  2019-07-01                 0
55  United Kingdom  GBR  2019-08-01                 0
56  United Kingdom  GBR  2019-09-01                 0
57  United Kingdom  GBR  2019-10-01                 0
58  United Kingdom  GBR  2019-11-01                 0
59  United Kingdom  GBR  2019-12-01                 0

In [ ]:
SI_UK = pd.concat([SI_UK_old, SI_UK_new])

In [ ]:
SI_UK['Day'] = pd.to_datetime(SI_UK['Day'])

In [ ]:
SI_UK['year'] = pd.DatetimeIndex(SI_UK['Day']).year
SI_UK['month'] = pd.DatetimeIndex(SI_UK['Day']).month

In [ ]:
SI_UK_grouped = SI_UK.groupby(['year', 'month'])
SI_UK_grouped.mean().reset_index()

    year  month  stringency_index
0   2015      1          0.000000
1   2015      2          0.000000
2   2015      3          0.000000
3   2015      4          0.000000
4   2015      5          0.000000
..   ...    ...               ...
82  2021     11         46.760000
83  2021     12         47.774516
84  2022      1         47.147097
85  2022      2         35.482857
86  2022      3         29.630000

[87 rows x 3 columns]

In [ ]:
df_SI_UK_grouped = SI_UK_grouped['stringency_index'].mean().to_frame().reset_index()
month_dict = {1:'01', 2:'02', 3:'03', 4:'04', 5:'05', 6:'06', 7:'07', 8:'08', 9:'09', 10:'10', 11:'11', 12:'12'}
df_SI_UK_grouped['month'] = df_SI_UK_grouped['month'].map(month_dict)
df_SI_UK_grouped['Month'] = df_SI_UK_grouped['year'].astype(str) + '-' + df_SI_UK_grouped['month']
df_SI_UK_grouped = df_SI_UK_grouped[['Month', 'stringency_index']]
df_SI_UK_grouped

      Month  stringency_index
0   2015-01          0.000000
1   2015-02          0.000000
2   2015-03          0.000000
3   2015-04          0.000000
4   2015-05          0.000000
..      ...               ...
82  2021-11         46.760000
83  2021-12         47.774516
84  2022-01         47.147097
85  2022-02         35.482857
86  2022-03         29.630000

[87 rows x 2 columns]

In [ ]:
# add all MSOAs for the future prediction
df = pd.read_csv('/work/crime_type_per_month_msoa_with_force.csv')
def get_msoas_for_force(df2, force_name: str):
    df3 = df2[df2['Police force'].str.contains(force_name)]
    return df3['MSOA code'].unique()

lst_msoas = get_msoas_for_force(df, '')
lst_msoas = list(lst_msoas)

In [ ]:
lst_past_dates = []
lst_past_si = []
for month in df_SI_UK_grouped['Month']:
    lst_past_dates += [month] * len(lst_msoas)
    si_this_month = float(df_SI_UK_grouped[df_SI_UK_grouped['Month'] == month]['stringency_index'])
    lst_past_si += [si_this_month] * len(lst_msoas)
lst_msoas_past = lst_msoas * len(df_SI_UK_grouped['Month'])

d_past = {'Month': lst_past_dates, 'MSOA code': lst_msoas_past, 'stringency_index': lst_past_si}
df_past_SI = pd.DataFrame(data=d_past)

In [ ]:
df_past_SI

          Month  MSOA code  stringency_index
0       2015-01  E02000001              0.00
1       2015-01  E02000002              0.00
2       2015-01  E02000003              0.00
3       2015-01  E02000004              0.00
4       2015-01  E02000005              0.00
...         ...        ...               ...
626482  2022-03  W02000419             29.63
626483  2022-03  W02000420             29.63
626484  2022-03  W02000421             29.63
626485  2022-03  W02000422             29.63
626486  2022-03  W02000423             29.63

[626487 rows x 3 columns]

In [ ]:
lst_msoas_future = lst_msoas * 9
lst_future_dates = ['2022-04-01'] * (len(lst_msoas))
lst_future_dates = lst_future_dates + (['2022-05-01'] * (len(lst_msoas)))
lst_future_dates = lst_future_dates + (['2022-06-01'] * len(lst_msoas))
lst_future_dates = lst_future_dates + (['2022-07-01'] * (len(lst_msoas)))
lst_future_dates = lst_future_dates + (['2022-08-01'] * (len(lst_msoas)))
lst_future_dates = lst_future_dates + (['2022-09-01'] * (len(lst_msoas)))
lst_future_dates = lst_future_dates + (['2022-10-01'] * (len(lst_msoas)))
lst_future_dates = lst_future_dates + (['2022-11-01'] * (len(lst_msoas)))
lst_future_dates = lst_future_dates + (['2022-12-01'] * (len(lst_msoas)))
lst_si_future  = [0] * len(lst_future_dates)

d_future = {'Day': lst_future_dates, 'MSOA code': lst_msoas_future, 'stringency_index': lst_si_future}
df_future_SI = pd.DataFrame(data=d_future)

df_future_SI['Day'] = pd.to_datetime(df_future_SI['Day'])
df_future_SI['year'] = pd.DatetimeIndex(df_future_SI['Day']).year
df_future_SI['month'] = pd.DatetimeIndex(df_future_SI['Day']).month

df_future_SI['month'] = df_future_SI['month'].map(month_dict)
df_future_SI['Month'] = df_future_SI['year'].astype(str) + '-' + df_future_SI['month']
df_future_SI = df_future_SI[['Month', 'MSOA code', 'stringency_index',]]
df_future_SI

         Month  MSOA code  stringency_index
0      2022-04  E02000001                 0
1      2022-04  E02000002                 0
2      2022-04  E02000003                 0
3      2022-04  E02000004                 0
4      2022-04  E02000005                 0
...        ...        ...               ...
64804  2022-12  W02000419                 0
64805  2022-12  W02000420                 0
64806  2022-12  W02000421                 0
64807  2022-12  W02000422                 0
64808  2022-12  W02000423                 0

[64809 rows x 3 columns]

In [ ]:
df_SI = df_past_SI.append(df_future_SI)
# df_SI.to_csv('SI_UK_per_month_with_future.csv')
df_SI

         Month  MSOA code  stringency_index
0      2015-01  E02000001               0.0
1      2015-01  E02000002               0.0
2      2015-01  E02000003               0.0
3      2015-01  E02000004               0.0
4      2015-01  E02000005               0.0
...        ...        ...               ...
64804  2022-12  W02000419               0.0
64805  2022-12  W02000420               0.0
64806  2022-12  W02000421               0.0
64807  2022-12  W02000422               0.0
64808  2022-12  W02000423               0.0

[691296 rows x 3 columns]

In [ ]:
SI_UK_grouped['stringency_index'].describe()

            count       mean       std    min    25%    50%    75%    max
year month
2015 1        1.0   0.000000       NaN   0.00   0.00   0.00   0.00   0.00
     2        1.0   0.000000       NaN   0.00   0.00   0.00   0.00   0.00
     3        1.0   0.000000       NaN   0.00   0.00   0.00   0.00   0.00
     4        1.0   0.000000       NaN   0.00   0.00   0.00   0.00   0.00
     5        1.0   0.000000       NaN   0.00   0.00   0.00   0.00   0.00
...           ...        ...       ...    ...    ...    ...    ...    ...
2021 11      30.0  46.760000  0.000000  46.76  46.76  46.76  46.76  46.76
     12      31.0  47.774516  0.935877  46.76  46.76  48.61  48.61  48.61
2022 1       31.0  47.147097  2.363379  42.13  46.76  48.61  48.61  48.61
     2       28.0  35.482857  6.028474  29.63  29.63  34.49  42.13  42.13
     3       14.0  29.630000  0.000000  29.63  29.63  29.63  29.63  29.63

[87 rows x 8 columns]

In [ ]:
# add SI to the main dataframe for predictions
df = pd.read_csv('/work/crime_type_per_month_msoa_with_force.csv')
df_with_si = pd.merge(df, df_SI, how='outer', on=['Month', 'MSOA code'])
# df_with_si = df_with_si.drop(columns = df_with_si.columns[:2])

In [ ]:
 df_with_si.to_csv('/work/crime_type_per_month_msoa_with_force_si_future.csv')

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=40789b9a-1c62-45b9-9d9c-b1a39ebe3dfd' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>