In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import datetime

import IPython
import IPython.display
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

import tqdm as tq
import string
import statistics as stats

In [ ]:
unemployment = pd.read_csv("unemploymentrate.csv", delimiter=';')

In [ ]:
unemployment = unemployment.rename(columns={'Unnamed: 0':'MSOA code'})

In [ ]:
unemployment = unemployment.set_index('MSOA code').unstack().to_frame().reset_index().rename(columns={0:'unemployment_rate', 'level_0':'year'})

In [ ]:
population_median_lsoa = pd.read_csv("population-median-age-lsoa.csv", delimiter=';').rename(columns={'LSOA Code': 'LSOA code'})

In [ ]:
df_msoa = pd.read_csv('/Users/hannabroszczak/Desktop/uni/DataChallenge2/additional datasets/postcodes.csv')
df_msoa = df_msoa.rename(columns = {'LSOA Code':'LSOA code', 'MSOA Code':'MSOA code'})

/Users/hannabroszczak/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (7,17,18,21,22,24,25,29,32,39,47) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
df_msoa = df_msoa.drop_duplicates(subset=['LSOA code'])

In [ ]:
population_median_msoa = pd.merge(df_msoa[['LSOA code', 'MSOA code']], population_median_lsoa, how='right', on='LSOA code')

In [ ]:
population_median_msoa['Median Age'] = population_median_msoa['Median Age'].astype(float)

In [ ]:
age_msoa = population_median_msoa.groupby('MSOA code').mean().reset_index()
# the values are the mean of the median age in the LSOAs in a MSOA

In [ ]:
dataset_yearly = unemployment
dataset_overall = age_msoa

In [ ]:
life_exp_m = pd.read_csv('life-exp-male.csv', delimiter=';')
life_exp_m['life_exp_m'] = life_exp_m['Life expectancy'].astype(float)
life_exp_m = life_exp_m.drop(['Life expectancy'], axis=1)
life_exp_f = pd.read_csv('life-exp-female.csv', delimiter=';')
life_exp_f['life_exp_f'] = life_exp_f['Life expectancy'].astype(float)
life_exp_f = life_exp_f.drop(['Life expectancy'], axis=1)
life_exp_m65 = pd.read_csv('life-exp-male-65.csv', delimiter=';')
life_exp_m65['life_exp_m65'] = life_exp_m65['Life expectancy'].astype(float)
life_exp_m65 = life_exp_m65.drop(['Life expectancy'], axis=1)
life_exp_f65 = pd.read_csv('life-exp-female-65.csv', delimiter=';')
life_exp_f65['life_exp_f_65'] = life_exp_f65['Life expectancy'].astype(float)
life_exp_f65 = life_exp_f65.drop(['Life expectancy'], axis=1)

In [ ]:
life_exp = pd.merge(life_exp_m, life_exp_f, how='outer', on='MSOA code')
life_exp = pd.merge(life_exp, life_exp_m65, how='outer', on='MSOA code')
life_exp = pd.merge(life_exp, life_exp_f65, how='outer', on='MSOA code')
life_exp

      MSOA code  life_exp_m  life_exp_f  life_exp_m65  life_exp_f_65
0     E02000001       90.37       90.74         90.74          27.61
1     E02000002       78.77       81.70         81.70          19.37
2     E02000003       78.44       84.29         84.29          21.78
3     E02000004       77.94       81.71         81.71          19.35
4     E02000005       78.99       83.88         83.88          21.88
...         ...         ...         ...           ...            ...
6785  E02006931       79.22       83.76         83.76          21.24
6786  E02006932       75.74       78.08         78.08          15.62
6787  E02006933       76.18       83.10         83.10          19.67
6788  E02006934       87.21       84.12         84.12          23.90
6789  E02000978         NaN       91.32         91.32          27.46

[6790 rows x 5 columns]

In [ ]:
dataset_overall = pd.merge(dataset_overall, life_exp, how='outer', on='MSOA code')

In [ ]:
energy_efficiency = pd.read_csv('energy-efficiency.csv', delimiter=';')
energy_efficiency = energy_efficiency.rename(columns={energy_efficiency.columns[0]:'MSOA code','All dwellings':'energy_eff_score'})

In [ ]:
dataset_overall = pd.merge(dataset_overall, energy_efficiency, how='outer', on='MSOA code')

In [ ]:
income = pd.read_csv('totalannualincome2018.csv', delimiter=';')

In [ ]:
dataset_overall = pd.merge(dataset_overall, income, how='outer', on='MSOA code')

In [ ]:
dataset_overall

,MSOA code,Median Age,life_exp_m,life_exp_f,life_exp_m65,life_exp_f_65,energy_eff_score,Total annual income
0,E02000001,38.150000,90.37,90.74,90.74,27.61,72,65400
1,E02000002,33.675000,78.77,81.70,81.70,19.37,66,39000
2,E02000003,34.900000,78.44,84.29,84.29,21.78,63,47800
3,E02000004,36.575000,77.94,81.71,81.71,19.35,64,43700
4,E02000005,32.980000,78.99,83.88,83.88,21.88,66,44900
...,...,...,...,...,...,...,...,...
7196,W02000419,46.114286,NaN,NaN,NaN,NaN,62,31100
7197,W02000420,51.000000,NaN,NaN,NaN,NaN,63,55800
7198,W02000421,51.614286,NaN,NaN,NaN,NaN,51,41700
7199,W02000422,30.620000,NaN,NaN,NaN,NaN,76,54500
7200,W02000423,31.266667,NaN,NaN,NaN,NaN,75,40200

In [ ]:
dataset_overall.to_csv('additional_dataset_overall_msoa.csv')

In [ ]:
dataset_yearly.to_csv('additional_dataset_yearly_unemployment.csv')

## Combine with the crime dataset (df_street)

In [ ]:
df_street = df_street = pd.read_csv('/Users/hannabroszczak/Desktop/uni/DataChallenge2/crimes_per_month_msoa.csv')

In [ ]:
df_street = df_street.drop('Unnamed: 0', axis=1)

In [ ]:
df_combined = pd.merge(df_street, dataset_overall, how='outer', on='MSOA code')

In [ ]:
df_combined
# The data is per MSOA, not per month - so for each month the values are repeated.

,Month,MSOA code,Sum crimes,Median Age,life_exp_m,life_exp_f,life_exp_m65,life_exp_f_65,energy_eff_score,Total annual income
0,2015-01,E02000001,574,38.150000,90.37,90.74,90.74,27.61,72,65400
1,2015-02,E02000001,567,38.150000,90.37,90.74,90.74,27.61,72,65400
2,2015-03,E02000001,612,38.150000,90.37,90.74,90.74,27.61,72,65400
3,2015-04,E02000001,605,38.150000,90.37,90.74,90.74,27.61,72,65400
4,2015-05,E02000001,583,38.150000,90.37,90.74,90.74,27.61,72,65400
...,...,...,...,...,...,...,...,...,...,...
590477,2021-06,E02002463,154,35.333333,76.08,77.84,77.84,18.59,67,31400
590478,2021-07,E02002463,183,35.333333,76.08,77.84,77.84,18.59,67,31400
590479,2021-08,E02002463,131,35.333333,76.08,77.84,77.84,18.59,67,31400
590480,2021-09,E02002463,151,35.333333,76.08,77.84,77.84,18.59,67,31400
590481,2021-10,E02002463,163,35.333333,76.08,77.84,77.84,18.59,67,31400

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=40789b9a-1c62-45b9-9d9c-b1a39ebe3dfd' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>